/* Navbar Styles */
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerD {
    /* background-color: #2c3e50; */
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  /* #2c3e50 */

  .imageCourse{
    margin-bottom: 100px;
  }
  
  .logodashboard {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-decoration:lightseagreen;
   
   
    /* margin-bottom: 30px; */
    
  }
  
  .navbar {
    list-style: none;
    padding: 20px;
    text-align: center;
    flex-direction: column;
  }
  
  .navbar a {
    color: black;
    padding: 5px;
    display: inline;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-between;
    overflow: hidden;
    font-size: 1.1rem;
    left: 0;
  }
  
  .navbar a:hover {
    background-color: rgb(246, 241, 241);
    border-radius: 5px;
  }
  /* #34495e */
  
  .navbar a:active {
    background-color:#7cabc7;
    border-radius: 5px;
  }
  

