  .user-management-container {
    /* background-image: url('./src/assets/bgmu.png'); */
    width: 900px;
    /* background-size:contain; */
    background-position: right;
    /* min-height: 100vh; */
    /* display:contents; */
    justify-content: center;
    align-items: center;

  }

  .user-management-content{
    margin-top: 10%;
    padding-top: 0px;
    margin-right: 25px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; */
  }

  .user-management-content h2 {
    font-size: 2em;
    color: #052f47;
    margin-left: 60%;
    margin-top: 15%;
  }

  .user-management-content img{
    margin-left: 30%;
    width:100%;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 30%;
  }
  
  .user-table th, .user-table td {
    padding: 12px;
    border: 1px solid #070707;
    text-align: center;
  }
  
  .user-table th {
    background-color: #779dd6;
  }
  
  button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .approve-button {
    background-color: rgb(9, 116, 9);
    color: white;
  }
  
  .disapprove-button {
    background-color: red;
    color: white;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  td button {
    display: inline-block;
    margin-right: 10px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .approve-button.approved {
    background-color: lightgreen;
  }
  
  .disapprove-button.disapproved {
    background-color: lightcoral;
  }
   