body{
  font-family:'Times New Roman', Times, serif, 'Poppins', sans-serif;
  background-color: #BFD5E2; 
  overflow-y: auto;  /* Allow scrolling when content exceeds screen height */
  height: 100vh;     /* Allow the container to take full viewport height */
  scroll-behavior: smooth;  /* Enable smooth scrolling */
}